<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>326660519043-4f4tl1cfdid2h71pclalsprbf6v5bj8b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.326660519043-4f4tl1cfdid2h71pclalsprbf6v5bj8b</string>
	<key>API_KEY</key>
	<string>AIzaSyB1lzwv-KFFRdUn4H4goK7DJTLlCpmhCPc</string>
	<key>GCM_SENDER_ID</key>
	<string>326660519043</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.quotism</string>
	<key>PROJECT_ID</key>
	<string>quoter-882b4</string>
	<key>STORAGE_BUCKET</key>
	<string>quoter-882b4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:326660519043:ios:8a00f7d24e3306eb4b97b6</string>
</dict>
</plist>
