<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>AntipastoPro_trial.ttf</string>
		<string>AntipastoPro-Thin_trial.ttf</string>
		<string>AntipastoPro-Bold_trial.ttf</string>
		<string>AntipastoPro-Hairline_trial.ttf</string>
		<string>AntipastoPro-Medium_trial.ttf</string>
		<string>AntipastoPro-Light_trial.ttf</string>
		<string>AntipastoPro-Thin_trial2.ttf</string>
		<string>AntipastoPro-ExtraLight_trial.ttf</string>
		<string>AntipastoPro-ExtraBold_trial.ttf</string>
		<string>AntipastoPro-DemiBold_trial.ttf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
